body {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: darkgoldenrod;
}

.Table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

td, th {
    border: 2px solid black;
}

.buttoncont {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#Flip {
    border-radius: 12px;
    background-color: lightskyblue;
    font-size: 15pt
}

#Flip:hover {
    background-color: deepskyblue;
}

#Clear {
    border-radius: 12px;
    background-color: orange;
    font-size: 15pt
}

#Clear:hover {
    background-color: chocolate;
}

.Inner {
    padding-bottom: 240px;
    background-color: white;
}